@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;1,400;1,500&family=Inter:wght@100;200;300;400;500;600&display=swap");
* {
  /* background: rgb(215, 224, 227); */
  font-family: "Inter", sans-serif;
}

body {
  width: fit-content;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  width: 750px;
}

.container {
  /* background: rgb(210, 230, 238); */
}

p {
  font-family: "EB Garamond", serif;
  text-align: left;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  /* background: rgb(196, 212, 196); */
  background: #f55a5a;
  border-radius: 80% 80% 0 0;
  margin-bottom: -10px;
}

.card-div {
  /* background: rgb(181, 181, 229); */
  display: grid;
  grid-template-columns: 150px 600px;
  grid-template-rows: 50px 70px 50px 70px;
}

.img {
  grid-area: 1/1/5/1;
  object-fit: cover;
  width: 100%;
  height: 85%;
  border-radius: 5%;
  padding: 5px;
  margin-top: 8%;
}

.content {
  grid-area: 1/2/5/2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px;
}

.country {
  display: flex;
  width: 200px;
  align-items: center;
  justify-content: space-evenly;
}

.pin {
  height: 10px;
}

.description {
  padding-bottom: 10px;
  border-bottom: 1px solid grey;
}

/* How would I create individual lines/elements that aren't connected to 
  the description - e.g. in the figma design they are separate.
  Would it be done by using an img or something as the line and not a border? */

/* How do I change the section of image for individual images, 
specifically, the ithaca pic. Would it have something to do with the id? */
